bot_clima.json
{
  "name": "Bot de Clima",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -592,
        -32
      ],
      "id": "437fc175-1bc8-4cf1-b4e5-b86bac91a9b5",
      "name": "Telegram Trigger1",
      "webhookId": "8bc5a9f0-2833-4170-bdd3-b608f76d7de5",
      "credentials": {
        "telegramApi": {
          "id": "2VSZIbFMLWSaK826",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c0e2c95-5c13-4a35-89f9-21a0bc24403e",
              "name": "queue",
              "value": "={{ $json.message.text.trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        -32
      ],
      "id": "1ed416ff-a7b0-47d3-b69f-9143ef0e58a1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.queue }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            },
            {
              "name": "appid",
              "value": "={{ $env.OPENWEATHER_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        -32
      ],
      "id": "6e27381f-db7c-4d80-ad77-9c2ce7d2791e",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "36dd57a2-b9a6-4563-a73c-e7756545fdcc",
              "leftValue": "={{ $json.main.temp }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        -32
      ],
      "id": "e332b0eb-c4d1-4f46-9a5e-5c7485ce2799",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e37622eb-6d45-465a-acfe-c82f69985513",
              "name": "mensagem_final",
              "value": "=🌤️ A temperatura em {{ $json.name }} é de {{ Math.round($json.main.temp) }}°C.",
              "type": "string"
            },
            {
              "id": "fc7a347a-ee07-40ec-af8b-8c0fa1f6d16d",
              "name": "message.chat.id",
              "value": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -128
      ],
      "id": "bd526fb4-051c-40b3-b156-246e229afc8c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f83bc66c-f53f-4236-b475-7d1c519dbefe",
              "name": "mensagem_final",
              "value": "❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        32
      ],
      "id": "301a6657-3dd8-4a23-b8e8-72e86b00051e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.mensagem_final }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        -48
      ],
      "id": "f96a3d92-5f66-4f85-8e9d-93de09392637",
      "name": "Send a text message",
      "webhookId": "ddda6e1b-c9d2-47bd-84fb-a665c4b646ab",
      "credentials": {
        "telegramApi": {
          "id": "dgaOF1Mr58pWnSBo",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "768c8a36-ee36-4cf8-87af-ce9c2f3c1e10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b8651d8805cf71abde37921ce0bc53a0a84c660e9a59e93c8520d11eb575d99"
  },
  "id": "fbYycwZwSP1iKaq8",
  "tags": []
}
